<div>
<h1>Welcome to JZ Bar</h1>
<p> Great cocktails with live Jazz band every night! </p>
</div>


<div class="card bg-dark text-white">
  <img src="..." class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Cocktail name- test</h5>
    <p class="card-text">amazing taste with some smokey touch</p>
  </div>
</div>

<%= link_to "Back", root_path %>
